Package: io.fengzibarmoji
Name: 快捷表情
Depends: firmware (>= 11.0), mobilesubstrate
Architecture: iphoneos-arm
Description: 为iphoneX键盘下方添加快捷表情
Maintainer: 他是个疯子 <409774743@qq.com>
Author: CP Digital Darkroom <admin@cpdigitaldarkroom.com>
Section: Tweaks
Tag: purpose::extension, compatible_min::ios10, compatible_max::ios11.4
Version: 1.3.2
Installed-Size: 168
Homepage: https://sileo-cydia.github.io/ms/description.html?id=barmoji
Depiction: https://sileo-cydia.github.io/ms/description.html?id=barmoji
SileoDepiction: https://sileo-cydia.github.io/ms/msxq/barmoji.json
